.title {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.main-div {
  width: 355px;
  height: 830px;
  margin: auto;
  background-color: var(--white);
  border-radius: 40px;
  padding: 32px;
}

.result {
  margin-top: 32px;
  border-radius: 15px;
  width: 291px;
  height: 257px;
  background-color: var(--green);
  padding: 30px 24px 24px 24px;
}