@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #F2F2F2;
  --green: #00474B;
  --hover: #9FE8DF;
  --focus: #26C2AE;
  --red: #E17052;
  --disable: #0D686D;
  --white: #fff;
  --grey: #5E7A7D;
}

body {
  margin: 0;
  font-family: 'Space Mono';
  background-color: var(--light);
}